* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-color: #d92027;
  color: #f2f2f2;
}
button {
  padding: 0.5em 2em;
  border: none;
  color: #f2f2f2;
  background-color: #ff9234;
  outline: none;
  margin: 1em;
}

h2 {
  text-align: center;
  padding: 2em;
}

h3 {
  padding: 1em;
  text-align: center;
}
